html {
    font-family: 'Press Start 2P', sans-serif;
    background-color: #585858;
    position: relative;
    z-index: -1;
}

html body {
    background: transparent;
    color: #DDD;
}

.is-error {
    color: #e76e55;
}

.is-warning {
    color: #f7d51d;
}
.is-warning:before {
    content: 'Warning: ';
}
.is-error:before {
    content: 'Error: '
}